_*
.ipynb_checkpoints/
.vscode/

experiments
#!**/experiments/example_experiment
#!**/experiments/drive

#level1/

#level1
#level1/file11
#level1/level2
#level1/level2/file21
#level1/level2/file22
#level1/level2/level3
#level1/level2/level3/file31